.loan-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

.loan-table th,
.loan-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.btn-return {
  background: #008000;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-return:hover {
  background: #006400;
}
