.catalogo-container {
  width: 90%;
  margin: 20px auto;
  color: #fff;
  
}
.catalogo-container .titulo{
  font-size: 35px;
  text-transform: uppercase;
  color:#ffffff;
  backdrop-filter: blur(10px);
  border: 0.1px solid #38000017;
  width: auto;
  max-width: 400px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.catalogo-buscador {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.catalogo-buscador h2{
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.catalogo-buscador input {
  width: 60%;
  padding: 12px 20px;
  border: none;
  background: #380000;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
}
.catalogo-buscador input::placeholder{
  color: white;
}

.lista-libros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
}

.sin-resultados {
  text-align: center;
  color: #000000;
  font-size: 20px;
}
