.catalogo-container {
  width: 90%;
  margin: 20px auto;
  color: #fff;

}

.catalogo-container .titulo {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  backdrop-filter: blur(10px);
  border: 0.1px solid #38000017;
  width: auto;
  max-width: 400px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.catalogo-buscador {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  align-items: center;
}

.catalogo-buscador .buscador-input {
  position: relative;
  width: 60%;
}

.catalogo-buscador input {
  width: 100%;
  padding: 12px 20px;
  border: none;
  background: #ffffff;
  color: #520000;
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 0.1px 4px 16px rgba(0, 0, 0, 0.178);
  outline: none;
  height: 60px;
}

.catalogo-buscador input::placeholder {
  color: rgb(59, 0, 0);
}

.lista-libros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
}

.sin-resultados {
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.icono-buscar {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #520000;
  pointer-events: none;

}