.user-container {
  display: flex;
  height: 100vh;
  padding: 15px;
  gap :5px;

}

.column {
  width: 400px;
  background: rgb(99, 0, 0);
  padding: 30px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.10);
}
.column h2{
  text-align: center;
  color: white;
  margin-bottom: 70px;
  font-size: 30px;
  text-transform: uppercase;
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 15px
}
.menu li {
  display: flex;
  flex-direction: row;
  width: auto;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 20px;
  align-items: center;
  padding-left: 10px;
}
.menu .icon{
  font-size: 22px;
  color: #ffffff;
}

.menu a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 20px;
  font-weight: 700;
}

main{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  color: rgb(99, 0, 0);
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.10);
}
main .title{
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

}
main p{
  font-size: 20px;
  color: black;
}
aside .logout-icon{
  position:relative;
  top: 35%;
}
aside .logout-icon{
  width: 100%;
  border-radius: 40px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 30px;
}
main .sections{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 10px;
  margin-top: 40px;
}
section:hover{
  transform: translateY(3px);
 
}
main section{
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.10);
  
}
main section p{
  padding :10px 20px;
}
main section h2{
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   color: rgb(255, 255, 255);
   background-color: rgb(99, 0, 0);
   border-radius: 18px 18px 0 0;
}
/* 
.user-container {
  width: 100%;
  color: white;
  height: 100vh;

}

.user-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-btn {
  width: 100%;
  padding: 12px 15px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.user-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.logout-btn {
  background-color: white;
  color: rgb(114, 0, 0);
}

.logout-btn:hover {
  background-color: rgb(240, 240, 240);
} */
