input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container,
input::-webkit-textfield-decoration-button,
input::-webkit-clear-button {
    display: none !important;
}
.rp-container{
    width: 420px;
    background-color: rgb(114, 0, 0);
    border: 2px solid rgb(54, 0, 0);
    border-radius: 20px;
    padding: 30px 20px;
}
.rp-titulo{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 24px;
}
.rp-container p{
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
    color: rgb(255,255,255);
    font-weight: 600;
    margin-left: 5px;
}
.rp-container .rp-input{
    position: relative;
    width: 100%;
    height: 40px;
    margin:5px 0 10px 0;
}
.rp-input input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    padding: 12px 30px;
    color: white;
}
.rp-input input::placeholder {
    color: rgb(255, 255, 255, 0.5);
}
.lf-icono FaLock {
    transform: translateY(-10px);
}

.rp-container .rp-icono {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 18px;
}
.rp-error{
    
    margin-top: 15px;
    text-align: center;
    color: #ffb3b3;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px 10px;
    animation: fadeIn 0.3s ease-in-out;

}
.rp-container .rp-exito{
     margin-top: 15px;
    text-align: center;
    color: #ffb3b3;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px 10px;
    animation: fadeIn 0.3s ease-in-out;
}
.rp-container .rp-botones{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
}
.rp-botones .rp-boton{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: rgb(104, 0, 0);
}

.rp-show-password {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.rp-show-password input[type="checkbox"] {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
}

/* Checkbox marcado */
.rp-show-password input[type="checkbox"]:checked {
    background-color: #fff;
}

/* Etiqueta */
.rp-show-password label {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}



@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}